
/** Header (commn) **/

#header-logo-link {
  text-decoration: none;
  color: inherit;
}

#header-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/** Footer (common) **/

#gmd-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}


/** Home **/

.gmd-bld-list {
  max-width: 980px;
}

.gmd-bld-list__item {
  cursor: pointer;
}

.gmd-bld-thumb {
  min-height: 200px;
}
